@model IEnumerable<WebVali.Models.TChiTietSanPham>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            @Html.ActionLink("Dashboard", "Index", "Home")
        </li>
        <li class="breadcrumb-item active">Sản phẩm</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Sản phẩm
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Mã CTSP</th>
                        <th>Mã sản phẩm</th>
                        <th>Kích thước</th>
                        <th>Màu sắc</th>
                        <th>Ảnh đại diện</th>
                        <th>Đơn giá</th>
                        <th>SL tồn</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sp in Model)
                    {
                        <tr>
                            <td>@sp.MaChiTietSp</td>
                            <td>@sp.MaSp</td>
                            <td><div class="truncate-text">@sp.MaKichThuocNavigation?.KichThuoc</div></td>
                            <td>@sp.MaMauSacNavigation?.TenMauSac</td>
                            <td><div class="truncate-text">@sp.AnhDaiDien</div></td>
                            <td>@sp.DonGiaBan</td>
                            <td>@sp.Slton</td>
                            <td>
                                <div>
                                    <a href="javascript:void(0);" onclick="editRow(this)" title="Sửa" class="fa-solid fa-pen-to-square"></a>
                                    <a href="javascript:void(0);" onclick="viewDetails(this)" title="Chi tiết" class="fa-solid fa-circle-info"></a>
                                    <a href="javascript:void(0);" onclick="deleteRow(this)" title="Xóa" class="fa-solid fa-trash"></a>
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstraps.js"></script>
<script src="~/js/scripts.js"></script>
<script src="~/js/chart.js"></script>
<script src="~/js/chart-area.js"></script>
<script src="~/js/chart-bar.js"></script>
<script src="~/js/simple-database.js"></script>
<script src="~/js/loaded.js"></script>
